h1 {
  position: fixed;
  top: 100px;
  left: 100px;
  padding: 40px;
  background-color: blue;
  z-index: 1000;
}
#i {
  height: 100px;
  width: 100px;
  background-color: green;
  position: fixed;
  top: 100px;
  left: 400px;
}
.yellow {
  background-color: yellow; 
}
